.pageContentContainer {
    border: 1px solid transparent;
    margin-top: 1vw;
}

body h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(213, 11, 41);
}


/*desktop query*/
@media only screen and (min-width: 600px) {

    .projectTitle{
        margin-bottom: 0%;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
        padding-left: 1%;
        margin-left: 1%;
        margin-right: 1%;
        border: 2px solid red;
        background-color: rgb(111, 1, 1);
        color: blanchedalmond;
    }
    .projectTitle a{
        color: rgb(246, 233, 99);
        font-style: italic;
        margin-left: 2%;
        font-size: 1.3vw;

    }

    .projectContainer{
        border: 2px solid blue;
        margin-left: 1%;
        margin-right: 1%;
        
        display: grid;
        grid-template-columns: 33% 33% 33%;

    }

    .projectContainer_TextSection{
        border: 2px solid green;
    }
    .projectContainer_TextSection h2{
        text-align: center;
    }

    .projectContainer_TextSection p{
        color: rgb(224, 192, 64);
        margin-left: 2%;
        margin-right: 2%;
    }

    .projectContainer_TextSection ul{
        color: rgb(224, 192, 64);
    }


    .projectContainer_PicGallerySection{
        
    }

    .projectContainer_PicGallerySection_ImageCont{
        width: 100%;
        overflow: hidden;
    }

        .projectContainer_PicGallerySection_ImageCont img {
            width: 100%;
            overflow: hidden;
        }


}




/*Mobile query*/
@media only screen and (max-width: 600px) {

     .projectTitle{
        margin-bottom: 0%;
        padding-bottom: 0.5%;
        padding-top: 0.5%;
        padding-left: 1%;
        margin-left: 1%;
        margin-right: 1%;
        border: 2px solid red;
    }

    .projectContainer{
        border: 2px solid blue;
        margin-left: 1%;
        margin-right: 1%;
        
        display: grid;
        grid-template-columns: 100%;

    }

    .projectContainer_TextSection{
        border: 2px solid green;
    }
    .projectContainer_TextSection h2{
        text-align: center;
    }

    .projectContainer_TextSection p{
        color: rgb(224, 192, 64);
        margin-left: 2%;
        margin-right: 2%;
    }

         .projectContainer_TextSection ul {
             color: rgb(224, 192, 64);
         }
    
    
         .projectContainer_PicGallerySection {}
    
         .projectContainer_PicGallerySection_ImageCont {
             width: 100%;
             overflow: hidden;
         }
    
         .projectContainer_PicGallerySection_ImageCont img {
             width: 100%;
             overflow: hidden;
         }

}


